/**  
  
Main SCSS
	1. Imports.
	2. Fonts
	3. General Styles
	4. Header
  
**/

/* ----------------------------------------------------------- */
/*  1. Imports
/* ----------------------------------------------------------- */

@import "variables.scss";

/* ----------------------------------------------------------- */
/*  2. Fonts.
/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/*  3. General Styles.
/* ----------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}


/* ----------------------------------------------------------- */
/*  3. Header
/* ----------------------------------------------------------- */
